/* https://uigradients.com/#JShine

:root {
  --color-primary: #f64f59;
  --color-secondary: #c471ed;
  --color-ternary: #12c2e9;
} */

/* brightened to 85% */
:root {
  --color-primary: #fde4e6;
  --color-secondary: #f6e9fc;
  --color-ternary: #daf6fc;
  --color-primary-lighter: #fefbfb;
}

html,
body {
  min-height: 100%;
  font-family: "Noto Sans", sans-serif;
  margin: 4px;
  background: var(--color-ternary); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    var(--color-ternary),
    var(--color-secondary),
    var(--color-primary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--color-ternary),
    var(--color-secondary),
    var(--color-primary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
